body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
button{
    font-size: 15px;
}
table{
    float: left;
}
textarea{
    float: left;
    width: 300px;
    height: 500px;
}

.cell{
    width: 50px;
    height: 50px;
    border: 2px solid;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-spacing: 0px;
}
.black{
    background-color: #b6876b;
    border-color: #b6876b;
}
.white{
    background-color: #f4dfc1;
    border-color: #f4dfc1;
}
.cell-selected{
    border-color: red;
}
.king-cell-selected{
    border-color: #b5b5b5;
    border-style: dashed;
}
.knight-cell-selected{
    border-color: green;
    border-style: dashed;
}
.xaxis{
    width: 50px;
    height: 25px;
    border: 2px solid;
    text-align: center;
    font-weight: bolder;
    border-color: #b5b5b5;
    margin: 0px;
    position: static;
    border-spacing: 0px;
}
.yaxis{
    width: 25px;
    height: 50px;
    border: 2px solid;
    text-align: center;
    font-weight: bolder;
    border-color: #b5b5b5;
    margin: 0px;
    position: static;
    border-spacing: 0px;
}
.axis-selected{
    background-color:  #b5b5b5;
}
.element{
    position: absolute;
    width:30px;
    height:30px;
    left: 10px;
    top: 10px;
    margin: 0px;
    padding: 0px;
    background-image: url(/elements.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.cross{
    background-position: 0px 0px;
}
.cross-new{
    background-position: -30px 0px;
}
.circle{
    background-position: 0px -30px;
}
.circle-new{
    background-position: -30px -30px;
}
.cross-diagonal{
    background-position: 0px -60px;
}
.cross-diagonal-new{
    background-position: -30px -60px;
}
.king{
    background-position: 0px -90px;
}
.amazon{
    background-position: 0px -120px;
}
.square{
    background-position: 0px -150px;
}
.square-new{
    background-position: -30px -150px;
}